<h1>Delete Class</h1>
<br />

<h3>Are you sure you want to delete this class?</h3>
<div>
    <form asp-action="DeleteClass">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<br />

<a asp-action="Index">Return to Class List page</a>

