@model TeacherViewModel;


<h1>Hello Teacher @Model.Teacher.Name</h1>
<br />

<p>@Html.ActionLink("Add Class", "AddClass", new {id = Model.Teacher.Id})</p>
<ul>
    @foreach (var item in Model.Classes)
    {
        <li>
            @Html.ActionLink(item.Name, "ClassDetails", new{id = item.Id}) | @Html.ActionLink("Delete", "DeleteClass", new{id = item.Id})
        </li>
    }
</ul>
